@page "/project1"

<PageTitle>Project1</PageTitle>

<h1>Karl Marx</h1>

<span style="display:inline-block; width: 500;"></span>

<p>Karl Marx er, sammen med Friedrich Engels, grundlægger af, hvad han selv kaldte for, den videnskabelige 
    socialisme. Denne socialisme tog ideologisk udgangspunkt i den såkaldte utopiske socialisme som eksempelvis 
    blev repræsenteret ved Charles Fouriers ideer, men kombinerede denne ideologi med en økonomisk og sociologisk 
    teori for den historiske udvikling. Marx påstod deri at samfundene udvikler sig som resultat af samfundsklassernes 
    indbyrdes kampe om herredømmet. Denne udvikling ville ifølge teorien nå sit højeste stadie med det kommunistiske samfund, 
    hvor proletariatet (de besiddelsesløse, arbejderklassen) havde erobret magten over produktionsmidlerne og stillet dem i 
    hele befolkningens tjeneste. Arbejderklassen ville således afskaffe klassesamfundet. Dette skulle gøre alle mennesker lige, 
    så alle kunne udfolde sig frit, og ingen skulle udsættes for udbytning eller undertrykkelse. Dette kommunistiske endemål 
    havde den såkaldt videnskabelige socialisme til fælles med den utopiske socialisme, men den økonomiske og sociologiske analyse af, 
    hvordan det skulle komme i stand, var noget nyt hos Marx og Engels. Den såkaldt videnskabelige socialisme er i eftertiden også blevet 
    kendt under betegnelsen marxisme, et begreb som Karl Marx dog aldrig selv anvendte.

 Karl Marx og Friedrich Engels udgav i 1848 Det Kommunistiske Manifest[1][1]. Manifestet var et kampskrift, der redegjorde for de vigtigste
 marxistiske idéer og hvis formål var at samle socialisterne i hele verden i kampen for frihed. Manifestet blev udgivet midt i konfrontationen 
 mellem revolutionen, der hærgede Europa og gav løfte om frihed og demokrati, og de feudale undertrykkeres forsøg på at fastholde deres eneherskersamfund. 
 Den første socialistiske revolution i historien førte til oprettelse af Pariserkommunen i 1871, men denne blev hurtigt knust af den franske regerings styrker. 
 Marx opnåede derfor ikke sine tanker realiseret, mens han levede.

Karl Marx var i sin levetid en relativt ukendt skikkelse udenfor de socialistiske kredse, og en del af hans værker blev ikke udgivet før hans død. Men kort tid 
efter denne begyndte hans tanker at få stor indflydelse på en større del af arbejderbevægelsen i mange lande. I 1917 førte den russiske revolutionen til at først 
zaren og senere den provisoriske regering i Rusland blev styrtet, hvilket førte til oprettelsen af Sovjetunionen, der var funderet på marxistiske principper og 
erfaringerne fra Pariserkommunen. På grundlag af de marxistiske principper for udviklingen af socialismen, der blev praktiseret i Sovjetunionen, og erfaringerne 
indhøstet i de første år af opbygningen af Sovjetunionen udvikledes marxismen-leninismen, der blev virkeliggjort i Sovjetunionen. Forskellige teoretikere anser 
imidlertid at marxismen-leninismen ikke har noget med marxismen at gøre, og en del marxister tager afstand fra de styrer i Østeuropa, der angav at bygge på 
marxismen-leninismen. Mange nationale befrielsesbevægelser i kolonierne og de halvkoloniale lande blev inspireret af maxismen-leninismen og byggede på marxismen 
i 1950– 60– og 70'erne. Befrielsesbevægelserne betød et sammenbrud for den imperialistiske opdeling af verden, og kontinenter med mange folkeslag vandt gennem 
deres kamp friheden fra de imperialistiske stormagters hegemoni. Mange statsledere, teoretikere, revolutionære, aktivister og politikere har angivet at basere 
sig på Marx’s tanker som inspiration for deres aktiviteter, herunder blandt andre Vladimir Lenin, Lev Trotskij, Karl Kautsky, Rosa Luxemburg, Josef Stalin, 
Antonio Gramsci, Josip Broz Tito, Enver Hoxha, Ho Chi Minh, Mao Zedong, Che Guevara, Fidel Castro, Kwame Nkrumah, Tenzin Gyatso (den nuværende Dalai Lama)[2], 
Daniel Ortega[3], Hugo Chavez[4] og Prachanda.</p>

<span style="display:inline-block; width: 500;"></span>

<button>Send a collaboration request</button>