@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Project Bank!</h1>

<p>Are you looking for a collaboration for your next project or thesis? 
Then you have come to the right place! Project Bank is a platform where students and supervisors can find each other. 
We are helping you to find the right match so you can focus on your project. </p>
   

<img src="opgave.jpg">

