@page "/projects"

@using YoghurtBank.Services;

<PageTitle>Projects</PageTitle>

<h1>List of open projects</h1>

<span style="display:inline-block; width: 500;"></span>

<h3><a href="project1">Dette er en test </a></h3>

<p>bliver i daglig tale tit identificeret med det medie, de fremstår i, og som sådan er begrebet 
    en meget flertydig størrelse. En tekst er her f.eks. en bog, et brev eller en avis. Den kan 
    også være en del af en større tekst, f.eks. en nærmere afgrænset del af bogen (i forskellige 
    former for antologier og samlinger) et bestemt afsnit i brevet (eller f.eks. et bilag til brevet) 
    eller en enkelt artikel i avisen.</p>

<span style="display:inline-block; width: 150;"></span>    

<h3><a href="project2">Dette er en test </a></h3>

<p>bliver i daglig tale tit identificeret med det medie, de fremstår i, og som sådan er begrebet 
    en meget flertydig størrelse. En tekst er her f.eks. en bog, et brev eller en avis. Den kan 
    også være en del af en større tekst, f.eks. en nærmere afgrænset del af bogen (i forskellige 
    former for antologier og samlinger) et bestemt afsnit i brevet (eller f.eks. et bilag til brevet) 
    eller en enkelt artikel i avisen.</p>

<span style="display:inline-block; width: 150;"></span>      

<h3><a href="project3">Dette er en test </a></h3>

<p>bliver i daglig tale tit identificeret med det medie, de fremstår i, og som sådan er begrebet 
    en meget flertydig størrelse. En tekst er her f.eks. en bog, et brev eller en avis. Den kan 
    også være en del af en større tekst, f.eks. en nærmere afgrænset del af bogen (i forskellige 
    former for antologier og samlinger) et bestemt afsnit i brevet (eller f.eks. et bilag til brevet) 
    eller en enkelt artikel i avisen.</p>

<span style="display:inline-block; width: 150;"></span>    

@
{
    var repository = new IdeaRepository();
    var Ideas = 
}


@code {
    private int currentCount = 0;

    private void GetProjects()
    {
        
    }

    private void DisplayProject()
    {
        currentCount++;
    }
}